<macro name="show_job">
	<param name="show_job" value="job">
</macro>
<macro name="show_jobs">
	<param name="show_jobs" value="job">
</macro>


<!-- templates/_marcos.html -->
<!-- show_job -->
<div class="card adjust-height">
	<header class="card-header">
	  <p class="card-header-title">
		<a>
			{{ job['title'] }}
			${{ job['salary'] }}
			{{ job['description'] }}
		</a>
	  </p>
	</header>
	<div class="card-content">
	  <div class="content">
		<p>
			<a>
				{{ job['employer_name'] }}
			</a>
		</p>
	  </div>
	</div>
      </div>